[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

able = "*"
yapf = "*"
"numeric-version" = "*"
attrs = "*"
"5c44524" = {path = "../able", editable = true}
twine = "*"